.featuredHeader{
    background:  #fffff7;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.featuredSlides{
    margin-left:160px;
    padding-top: 50px;
}

.carousel-item{
    margin-top: 10px;
    background:  #fffff7;
    margin-bottom: 10px;
}
body{
    background:black;
}
.arrows{
    margin-top: 140px;
}
.missionStatement{
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    border-top: solid black 3px;
    padding-top:50px;
    padding-bottom: 50px;
    background: #fffff0;

}

.standOut{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: #fffff0;
    border-top: solid black 3px;
}
.localMat, .localTal{
    font-family: 'IBM Plex Mono', monospace;
}
body{
    font-family: 'IBM Plex Mono', monospace;
}
img{
    width:300px;
    height:300px;
    border:inset lightgrey 1px;
}
img:hover{
    opacity:.5;
    transition:.5s;
}

.productTitle{
    text-align: center;
    padding-top: 10px;
    border-bottom: solid black 3px;
    font-family: 'IBM Plex Mono', monospace;
    background-size: cover;

}
.featuredProducts{
    padding:20px;
    font-family: 'IBM Plex Mono', monospace;
    background: #fffff0;
    padding-bottom:60px;

}
.row{
    padding-left:50px;
    padding-right:50px;
}

.productCard{
    border: solid lightgrey 1px;
    padding-top: 3px;
    margin: 50px;
    margin-bottom:25px;
    font-family: 'IBM Plex Mono', monospace;
    background: #fffffc;
}
#buyNowbtn{
    width: 100px;
    height: 35px;
    margin-left:100px;
    margin-bottom: 20px;
    background:white;
    font-family: 'IBM Plex Mono', monospace;
}
.itemBorder{
    height: 550px;
    width:3px;
    background:lightgrey;
    margin-top:25px;
}
.itemBottomBorder{
    height:3px;
    width: 1000px;
    background:lightgrey;
    margin-top:25px;
    margin-left:200px;
}

#navSideBar{
    width:300px;
    background-color: #fffff7;
    display:none;
    height: 100%;
    position:fixed;
    top:0;
    overflow-x: hidden;
    z-index: 1;
    border-right:solid grey 2px;
    font-family: 'IBM Plex Mono', monospace;

}
#navSideBar a:hover{
    font-size: 25px;
}
#navSideBar a{
    margin-top: 100px;
}

.footer{
    height:350px;
    padding:15px;
    color:#F5F5F5;
    background: #303030;
    font-family: 'Source Code Pro', monospace;
}
#map{
    height: 325px;
    width:650px;
}
.logo{
    text-align: center;
    width: 1370px;
    padding-right:0px;
}
.signUp{
    width:350px;
    padding-left: 50px;
    float:right;
}

.socialMedia a{
    color:#F5F5F5;
}
.socialMedia a:hover{
    color:lightgrey;
}
#productModal{
    margin: 300px;
    margin-top: 50px;
    height:600px;
    width: 900px;
    display:none;
    border: solid black 2px;
    color:black;
    font-family: 'Source Code Pro', monospace;
    padding:auto;
    background: #fffffc;
}
#description{
    width: 400px;

}
.itemFeatures{
    width:400px;
    display: inline-block;
}

span{
    cursor:pointer;
}


/*About Us*/
.accordion {
    background-color: #c6d9ec;
    color:  #47476b;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    text-transform: .4s;
    margin-bottom:50px;
    margin-left: -15px;

}
#ourName{
    text-align: center;
    display:none;

}
.panel {
    padding: 10px;
    background: #414345;
    display: none;
    overflow: hidden;
    text-decoration: none;
    margin-bottom:15px;
    color:black;
}

.active, .accordion:hover {
    background-color: #ccc;
}
#ourMaterials{
    text-align: center;
}
.footer-contact {
    position: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414345;
    color:  #47476b;
    text-align: left;
    border-top: solid #c6d9ec;
    text-align: center;
}
#emailContact{
  position:absolute;
  top: 100px;
  left: 100px;
  padding: 20px;
  border: 1px solid #bbb;
}
.panel{
        font-family: 'Source Code Pro', monospace;
        background: #ffffe0;
        color:black;
        border: solid black 2px;
}

#materials, #environmental, #exploration, #accordion{
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}
.aboutTchoup{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fffff0
}


/*Backpack Page*/

.backpackCard{
    border: solid lightgrey 1px;
    padding-top: 3px;
    margin: 50px;
    margin-bottom:25px;
    font-family: 'IBM Plex Mono', monospace;
    background: #fffffc;
}
/*Accessory Page*/

.accessoryCard{
    border: solid lightgrey 1px;
    padding-top: 3px;
    margin: 50px;
    margin-bottom:25px;
    font-family: 'IBM Plex Mono', monospace;
    background: #fffffc;
}

.osbCard{
    border: solid lightgrey 1px;
    padding-top: 3px;
    margin: 50px;
    margin-bottom:25px;
    font-family: 'IBM Plex Mono', monospace;
    background: #fffffc;
}


/*Checkout Page*/

.checkOutCart{
    font-family: 'IBM Plex Mono', monospace;
    width: 300px;
    border: solid lightgrey 1px;
    padding:2px;
    float:right;
    margin-right:50px;
    background:white;
    margin-top: 50px;
}

#cart{
    float:right;
}

.checkOutForm{
    border: solid lightgrey 1px;
    width:1000px;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 150px;
    margin-left: 20px;
    background:white;
}
a.hover{
    color:grey;
}
input{
    margin-right: 15px;
    width: 300px;
    font-family: 'IBM Plex Mono', monospace;
}
form{
    margin-top: 20px;
    margin-left:10px;
}

